<div ng-controller="FamilyCtrl">
    <h1>{{family.str}}</h1>

    <h2>Syonyms</h2>
    <ul>
        <li ng-repeat="synonym in synonyms">
    </ul>

<!--     <div class="actionButtons" ng-hide>
      <a href="#editorModal" role="button" class="btn" data-toggle="modal">Edit</a>
      <a role="button" class="btn" ng-click="delete()" data-toggle="modal">Delete</a>
    </div> -->
    <!-- a place holder for showing the modal editors when selected from the New menu -->
    <!--
  <div id="familyEditorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div ng-include src="partials/family_editor.html"></div>
  </div>-->

</div>
