<div id="genusEditor" ui-modal ng-model="showEditor" class="baubleEditor" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:940px; margin-left:-470px;">

  <div ng-controller="GenusCtrl" id="genusEditor">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Genus</h3>
    </div>

    <div class="modal-body">

      <ul class="nav nav-tabs" id="genusEditorTabs">
        <li ng-class="{active: activeTab=='general'}"><a ng-click="activeTab='general'">General</a></li>
        <li ng-class="{active: activeTab=='notes'}"><a ng-click="activeTab='notes'">Notes</a></li>
      </ul>

      <div class="tab-content" ng-switch="activeTab">

        <div class="tab-pane active" ng-switch-when="general">

          <form name="genusForm">

            <label>Family</label>
            <input id="familyField" style="width: 200px" ui-select2="selectOptions" ng-model="genus.family"/>

            <label>Genus</label>
            <input ng-model="genus.genus" required/>

          </form>
        </div>

        <div ng-switch-when="notes" class="tab-pane active">
            <div ng-include src="'partials/notes_editor.html'"></div>
          </div>
        </div>

      </div> <!-- tab-content -->

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>

  </div>

</div>