
<!-- <div class="container"> -->

  <!-- <div class="row-fluid"> -->
    <div class="searchBox">
      <form>
      <div class="input-prepend input-append">
        <span class="addon-on"><button class="btn" type="button"><i class="icon-cog"></i></button></span>
        <input id="searchField" ng-model="q" type="search" class="appendedInputButtons input-xxlarge"/>
        <input class="btn" type="submit" ng-click="Search(q)">Search</input>
      </div>
    </form>
    </div>
  <!-- </div> -->

<!-- <div class="container"> -->
  <div class="row">
    <div class="span4">
      <ul>
        <div ng-repeat="result in results">
            <li class="search-result-item"  ng-click="itemSelected(result)" ng-mouseenter="mouseEnterItem($event)" ng-mouseleave="mouseLeaveItem($event)">
                <span>
                  <a class="search-result-expand icon-chevron-right" ng-click="itemExpanded()"></a>
                  <a class="search-result-link">{{result.str}}</a>
                </span>
            </li>
        </div>
      </ul>
    </div>

    <div class="span8">
      <div ng-include src="viewMeta.view" class="resourceView"></div>
    </div>

    <div id="editorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div ng-include src="editor"></div>
    </div>

  </div>
