<!doctype html>
<html>
  <head>
    <title>Bauble</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Welcome to Bauble!</h1>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>


    <form class="form-search" action="/search" method="get">
      <fieldset>
        <input name='query' class="input-medium search-query" 
	       type="text" placeholder="Type something">
        <button type="submit" class="btn">Search</button>
      </fieldset>
    </form>
  </body>
</html>
