
$footer-height: 200px;

// add padding to acount for the navbar
body {
  padding-top: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.app-container {

}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }

  & > li {
    display: inline;
  }

  & > li:before {
    content: "|";
    padding-right: 0.3em;
  }

  & > li:nth-child(1):before {
    content: "";
    padding: 0;
  }
}

.footer {
  height: $footer-height;
  background-color: #F5F5F5;
  border: solid 1px #ccc;
  margin-top: 50px;
}

.search-box {
  padding: 15px 15px;
  margin-bottom: 25px;
  background-color: #F5F5F5;
  border: solid 1px #CCC;
}

.results-list {
  ul {
    margin-left: 0;
  }

  .search-result-item {
    list-style-type: none;
    background-image: none;
    background-color: #f7f7f7;
    margin: 5px 0;
    border: solid #ccc 1px;
    padding: 10px 5px;
  }

  .search-result-item-hover {
    background-color: #eee;
  }

  .search-result-item .search-result-expand {
  }

  .search-result-item .search-result-link {

  }
}

/*.bauble-editor label + input {
  margin-left: 10px;
}*/

.bauble-editor {
  label + textarea {
    /*margin-left: 10px;*/
  }


  .editor-header {
    background-color: #F5F5F5;
    border: solid 1px #ccc;
    padding: 5px 5px;
    margin-bottom: 10px;

    .header-title {

    }

    .header-buttons {
      text-align: right;
    }
  }

  .editor-body {
    margin-bottom: 25px;
    height: 100%;
  }

  /* usually when there's multple inputs/labels on a line */
  /*
  input + label {
    margin-left: 25px;
  }

  label {
    margin-right: 10px;
    min-width: 35px;
    max-width: 85px;
    width: 75px;
    text-align: right;
    font-weight: bold;
  }

  form div {
    margin: 15px 0;
  }

  .accordion-group {
    margin-bottom: 10px;
  }

  .accordion-heading {
    background-color: #f7f7f7;
  }
  */
}

.family-editor {

  // .tab-content {
  //   height: 200px;
  // }

  $label-width: 75px;
  .control-label {
    width: $label-width
  }
  .controls {
    margin-left: $label-width + 25px;
  }
}


.genus-editor {

}

.taxon-editor {

    $label-width: 75px;
    .group1 .control-label {
      width: $label-width
    }
    .group1 .controls {
      margin-left: $label-width + 25px;
    }

    .infraspecific-container {

      table {
        margin-left: 25px;
      }
    }

    .vernacular-name-container {
      margin-bottom: 25px;

      .contents {
        margin-left: 25px;
      }

      label {
        font-weight: bold;
      }

      table {
        thead {
          background-color: #eee;

          td {
            border: solid 2px white;
            padding: 2px 5px;
          }
        }

        tr {
          // center the default checkbox
          td:last-child {
            text-align: center;
          }
        }
      }
    }

    .synonyms-container {
      label {
        font-weight: bold;
      }

      .contents {
        margin-left: 25px;
      }
    }
}



.filters-row {
  padding: 5px 0 5px 0;
}
/*
  https://kuler.adobe.com/#themeID/7245;
  #607056 #519E41 #85BF89 #9DDBB2 #BFE8BE
*/

/*
https://kuler.adobe.com/#themeID/137458
BAE8E5 CCF4FF D9FFF2 BAE8CB CCFFD1
*/

.domain-box {
  background-color: #519E41;
}

.filters-box {
  background-color: #85BF89;
}

.report-box {
  background-color: #9DDBB2;
}

.report-table {

}

.report-table th  {
  padding: 0 1em;
}

.report-table tr {

}

.report-table td {

}