
// color theme : https://kuler.adobe.com/Fall-Grass-color-theme-2487072/

$heading-color: #265573; // #386d73;
$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 300;

$font-family: 'Open Sans', sans-serif;
$font-color: #386d73;
$link-color: #265573;

$footer-height: 200px;
$footer-color: #81A68A;
$footer-font-color: #265573;


body {
    //background-color: #FFFDD0;
    color: $font-color;
    font-family: $font-family;
}

p {
    color: $font-color;    
}

a {
    color: $link-color;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-color;
    margin-left: 0;
}

/* .app-container { */
/*     & + div { */
/*         height: 100%; */
/*     } */
/* } */

.error {
    color: red;
}

.main-page {
    
    & > div {
        //padding: 50px 200px;
    }
    
    h4 {
        margin: 20px 0 0 0;
    }

    .section1 {
        background-color: #d4d9b0; //#ffffec // #fcf6d9;
        padding-bottom: 8em;
    }

    .features {
        margin-top: 2em;
        
        .row {
            margin-top: 2em;
        }        

        h4 { 
            margin: 0;
        }

        i {
            margin: 0;
        }
        
    }

    .section2 {
        padding-top: 2em;
        padding-bottom: 10em;
        background-color: #9fbf8f; //#fff9df // #fcf6d9;
    }

    
}

// add padding to acount for the navbar
.show-menubar {
    padding-top: 70px;
}

/* @media (max-width: 979px) { */
/*   body { */
/*     padding-top: 0px; */
/*   } */
/* } */




.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;

    &:before {
        content: "[";
    }

    &:after {
        content: "]";
    }

    & > li {
        display: inline;
    }

    & > li:before {
        content: "|";
        padding-right: 0.3em;
    }

    & > li:nth-child(1):before {
        content: "";
        padding: 0;
    }
}

.footer {
    height: $footer-height;
    margin-top: 5em;
    background-color: $footer-color;
    color: $footer-font-color;
    //border: solid 1px #ccc;
    padding-top: 5em;
    
    & > div {
        //text-align: center;
    }

    a {
        display: block;
    }

    .copyright {
        font-size: .9em;
        margin-top: 3em;
        //margin-bottom: 1em;
    }
}

.login-page {
    background-color: #d4d9b0;
}

.form-signin {
    margin: 5em 0;
    padding: 2em;
    background-color: #fff;
    border: 1px solid #e5e5e5;

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    //margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#new-user-page {
    form {
        margin: 5em 0;
    }

    label {
        margin-top: 2em;
    }

    .btn-default {
        margin-top: 3em;
    }

    .welcome { 
        margin-top: 7em;
        margin-bottom: 7em;
    }
}

.search-box {
    padding: 15px 15px;
    margin-bottom: 25px;
    background-color: #F5F5F5;
    border: solid 1px #CCC;

    form {
        margin: 0;
    }
}


/*.bauble-editor label + input {
  margin-left: 10px;
  }*/

.bauble-editor {
    label + textarea {
    /*margin-left: 10px;*/
    }

    .alert {
        z-index: 100;
        top: 50px;
        position: absolute;
        padding: 25px;
    }

    .editor-header {
        background-color: #F5F5F5;
        border: solid 1px #ccc;
        padding: 5px 5px;
        margin-bottom: 10px;

        .header-title {
            padding-left: 2em;
        }

        .header-buttons {
            text-align: right;
        }
    }

    .editor-body {
        margin: 25px 25px;
        //margin-bottom: 25px;
        height: 100%;

        .tab-content {
            margin: 35px;
        }
    }

    .editor-section {
        h5 {
            background-color: #F5F5F5;
            padding-left: 10px;
            line-height: 2em;
        }
        // & > div {
        //   margin-left: 25px;
        // }
    }

    input[ui-date] {
        width: 90px;  // same size as .input-small
    }

/* usually when there's multple inputs/labels on a line */
/*
  input + label {
  margin-left: 25px;
  }

label {
margin-right: 10px;
min-width: 35px;
max-width: 85px;
width: 75px;
text-align: right;
font-weight: bold;
}

form div {
margin: 15px 0;
}

.accordion-group {
margin-bottom: 10px;
}

.accordion-heading {
background-color: #f7f7f7;
}
*/
}

.family-editor {

    // .tab-content {
    //   height: 200px;
    // }

    $label-width: 75px;
    .control-label {
        width: $label-width
    }
    .controls {
        margin-left: $label-width + 25px;
    }

    .synonyms-box {
        margin-top: 1em;
    }
}


.genus-editor {

}

.taxon-editor {

    $label-width: 75px;
    .group1 .control-label {
        width: $label-width
    }
    .group1 .controls {
        margin-left: $label-width + 25px;
    }

    .infraspecific-container {

        table {
            margin-left: 25px;
        }
    }

    .vernacular-name-container {
        margin-bottom: 25px;

        .contents {
            margin-left: 25px;
        }

        label {
            font-weight: bold;
        }

        table {
            thead {
                background-color: #eee;

                td {
                    border: solid 2px white;
                    padding: 2px 5px;
                }
            }

            tr {
                // center the default checkbox
                td:last-child {
                    text-align: center;
                }
            }
        }
    }

    .synonyms-box {

        margin-top: 1.2em;

        label {
            font-weight: bold;
        }

        .contents {
            margin-top: 1em;
        }
    }
}


.accession-editor {
    $label-width: 100px;

    .taxon-section {
        .select2-container {
            width: 50%;
        }
        label {
            width: $label-width;
        }
        .controls {
            margin-left: $label-width + 10px;
        }
    }

    .accession-section {
        label {
            width: $label-width;
        }
        .controls {
            margin-left: $label-width + 10px;
        }
        .group1 {
            display: inline-block;
        }

        .group2 {
            display: inline-block;
            vertical-align: top;
            label {
                width: $label-width+25px;
            }
            .controls {
                margin-left: $label-width + 25px + 10px;
            }
        }

    }
    .id-qual-group {
        display: inline-block;
    }
    .qual-rank-group {
        margin-left: 25px;
        display: inline-block;
    }

    .source-tab {
        .source-select-box {
            $label-width: 75px;
            label {
                width: $label-width;
            }
            .controls {
                margin-left: $label-width + 10px;
            }
            .select2-container {
                width: 50%;
            }
        }

        // .locale-group input {
        //   width: 50%;
        // }

        .long-lat-group {
            .control-group {
                display: inline-block;
            }

            input {
                display: inline-block;
            }

            input[type="radio"] {
                margin: 0 5px 0 10px;
            }
        }
    }
}


.filters-row {
    padding: 5px 0 5px 0;
}
/*
  https://kuler.adobe.com/#themeID/7245;
  #607056 #519E41 #85BF89 #9DDBB2 #BFE8BE
  */

/*
  https://kuler.adobe.com/#themeID/137458
  BAE8E5 CCF4FF D9FFF2 BAE8CB CCFFD1
  */

.domain-box {
    background-color: #519E41;
}

.filters-box {
    background-color: #85BF89;
}

.report-box {
    background-color: #9DDBB2;
}

.report-table {

}

.report-table th  {
    padding: 0 1em;
}

.report-table tr {

}

.report-table td {

}

.admin-page {
    .tabbable {
        margin-top: 25px
    }
}

.admin-sysadmin-page {

    .group-header {
        height: 32px;

        h4 {
            display: inline;
            margin-right: 25px;
        }

        .search-query {
            float: right
        }
    }

    .grid {
        //width: 200px;
        height: 200px;
        max-height: 400px;
    }

    .org-grid {
        margin-bottom: 50px
    }

    
}