// @import "compass_twitter_bootstrap";

// add padding to acount for the navbar
body {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.search-result-item {
  list-style-type: none;
  background-image: none;
  background-color: #f7f7f7;
  margin: 5px 0;
  border: solid #ccc 1px;
  padding: 10px 5px;
}

.search-result-item-hover {
  background-color: #eee;
}

/*.search-result-item {*/

.search-result-item .search-result-expand {
}

.search-result-item .search-result-link {

}


/*.bauble-editor label + input {
  margin-left: 10px;
}*/

.bauble-editor2 {
  label + textarea {
    /*margin-left: 10px;*/
  }

  /* usually when there's multple inputs/labels on a line */
  input + label {
    margin-left: 25px;
  }

  label {
    margin-right: 10px;
    min-width: 35px;
    max-width: 85px;
    width: 75px;
    text-align: right;
    font-weight: bold;
  }

  form div {
    margin: 15px 0;
  }

  .accordion-group {
    margin-bottom: 10px;
  }

  .accordion-heading {
    background-color: #f7f7f7;
  }
}

#family-editor {

  .tab-content {
    height: 200px;
  }

  $label-width: 75px;
  .control-label {
    width: $label-width
  }
  .controls {
    margin-left: $label-width + 25px;
  }
}


#genus-editor {

}


.search-box {
  padding: 0 15px;
  margin-bottom: 25px;
}

.filters-row {
  padding: 5px 0 5px 0;
}
/*
  https://kuler.adobe.com/#themeID/7245;
  #607056 #519E41 #85BF89 #9DDBB2 #BFE8BE
*/

/*
https://kuler.adobe.com/#themeID/137458
BAE8E5 CCF4FF D9FFF2 BAE8CB CCFFD1
*/

.domain-box {
  background-color: #519E41;
}

.filters-box {
  background-color: #85BF89;
}

.report-box {
  background-color: #9DDBB2;
}

.report-table {

}

.report-table th  {
  padding: 0 1em;
}

.report-table tr {

}

.report-table td {

}