<div ng-form name="accessionForm" class="bauble-editor accession-editor">

  <alert class="col-md-6 offset3" ng-repeat="alert in alerts" type="alert.type"
         close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row editor-header">
    <div class="header-title col-md-8">
      <h4>{{header}}</h4>
    </div>
    <!-- <div class="header-buttons col-md-3 pull-right">
    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
    </div> -->
  </div> <!-- .row .editor-header -->


  <div class="editor-body">

    <tabset>
      <tab heading="General">
        <form class="form-horizontal">

          <div class="editor-section taxon-section">
            <h5>Taxon</h5>

            <div class="form-group">
              <label class="control-label col-md-2" for="taxonField">Taxon</label>
              <div class="col-md-10">
                <input type="text" ng-model="taxon"
                     placeholder="Taxon" typeahead-editable="false"
                     typeahead="taxon as taxon.str for taxon in getTaxa($viewValue)"
                     typeahead-input-formatter="formatTaxonInput()"
                     typeahead-loading="loadingTaxa" class="form-control">
                <!-- <input id="taxonField" ui-select2="taxonSelectOptions"
                ng-model="accession.taxon" required/> -->
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2" for="idQualField">ID qual</label>
              <div class="col-md-2">
                <select ng-model="accession.id_qual" ng-options="q for q in id_qualifiers"
                        class="form-control"></select>
              </div>

              <label class="control-label col-md-2">Qualifier rank</label>
              <div class="col-md-3">
                <select ng-model="accession.id_qual_rank"
                        ng-options="value as prop for (value, prop) in qualifier_rank"
                        class="form-control"></select>
              </div>
            </div> <!-- .form-group -->

          </div><!-- .editor-section -->

          <div class="editor-section accession-section">
            <h5>Accession</h5>

            <div class="form-group">
              <label class="control-label col-md-2" for="accessionField">
                Accession</label>
              <div class="col-md-2">
                <input type="text" ng-model="accession.code" id="accessionField"
                       class="form-control" required/>
              </div>

              <label class="control-label col-md-2">Date Received</label>
              <div class="col-md-2">
                <input bs-datepicker ng-model="accession.date_recvd"
                       data-date="accession.date_recvd" class="form-control" type="text"/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Type of material</label>
              <div class="col-md-2">
                <select ng-model="accession.recvd_type"
                        ng-options="value as text for (value, text) in recvd_type_values"
                        class="form-control"></select>
              </div>

              <label class="control-label col-md-2">Date Accessioned</label>
              <div class="col-md-2">
                <input bs-datepicker ng-model="accession.date_accd"
                       data-date="accession.date_accd" class="form-control" type="text"/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Quantity</label>
              <div class="col-md-1">
                <input type="text" ng-model="accession.quantity_recvd"
                       class="form-control" required/>
              </div>
            </div> <!-- .form-group -->

          </div> <!-- .editor-section -->

          <div class="editor-section">
            <h5>Intended locations</h5>
            <div class="form-group">
              <label class="control-label col-md-2">Location 1</label>
              <div class="col-md-4">
                <input type="text" ng-model="accession.intended_location_id"
                       class="form-control"/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Location 2</label>
              <div class="col-md-4">
                <input type="text" ng-model="accession.intended2_location_id"
                       class="form-control"/>
              </div>
            </div> <!-- .form-group -->
          </div> <!-- .editor-section -->

          <div class="editor-section">
            <h5>Flags</h5>
            <div class="form-group">
              <label class="control-label col-md-2">Private</label>
              <div class="col-md-1">
                <input type="checkbox" ng-model="accession.intended2_location_id"/>
              </div>
            </div>
          </div> <!-- .editor-section -->

          <div class="editor-section">
            <h5>Provenance</h5>
            <div class="form-group">
              <label class="control-label col-md-2" for="provenanceField">Provenance</label>
              <div class="col-md-4">
                <select ng-model="accession.prov_type" class="form-control"
                        id="provenanceField"
                        ng-options="value as text for (value, text) in prov_type_values">
                </select>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2" for="wildStatusField">Wild Status</label>
              <div class="col-md-4">
                <select ng-model="accession.wild_prov_status"
                        id="wildStatusField" class="form-control"
                        ng-options="value as text for (value, text) in wild_prov_status_values">
                </select>
              </div>
            </div> <!-- .form-group -->
          </div> <!-- .editor-section -->

        </form> <!-- .form-horizontal -->
      </tab>   <!-- end "General" tab -->

      <tab heading="Source">
        <div class="not-ready-warning">
          <p>We're still working on this one.</p>
        </div>
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-md-2" for="sourceField">Source</label>
            <div class="col-md-5">
              <input ui-select2="sourceSelectOptions" ng-model="source.source_detail"
                     id="sourceField"/>
            </div>
            <button class="btn" ng-click="newSource()">New</button>
          </div> <!-- .form-group -->

          <accordion>
            <accordion-group heading="Collection">
              <div class="form-group">
                <label class="col-md-2 control-label">Locale</label>
                <div class="col-md-3">
                  <input type="text" ng-model="source.collection.locale"
                         class="col-md-6 form-control"/>
                </div> <!-- .controls -->
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-md-2">Region</label>
                <div class="col-md-3">
                  <input type="text" ng-model="source.collection.region" class="form-control"/>
                </div> <!-- .col-md-3 -->
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-md-2">Collector</label>
                <div class="col-md-3">
                  <input type="text" ng-model="source.collection.collector" class="form-control"
                         />
                </div> <!-- . -->
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-md-2">Collection ID</label>
                <div class="col-md-3">
                  <input type="text" ng-model="source.collection.collectors_code"
                         class="form-control"/>
                </div> <!-- . -->
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-md-2">Date</label>
                <div class="col-md-3">
                  <input ui-date ng-model="source.collection.date" type="text"
                         class="form-control"/>
                </div> <!-- .controls -->
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-md-2">Notes</label>
                <div class="col-md-3">
                  <textarea ng-model="source.collection.notes" class="col-md-6 form-control">
                  </textarea>
                </div> <!-- .col -->
              </div> <!-- .form-group -->

              <div class="editor-section">
                <h5>Location Details</h5>

                <div class="long-lat-group">
                  <div class="form-group">
                    <label class="control-label col-md-2">Latitude</label>
                    <div class="col-md-3">
                      <input type="text" ng-model="source.collection.latitude"
                             class="form-control"/>
                      <label class="radio-inline">
                        <input type="radio" name="north_south_group" value="North" checked/>North
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="north_south_group" value="South"/>South
                      </label>
                    </div> <!-- .controls -->
                  </div> <!-- .form-group -->

                  <div class="form-group">
                    <label class="control-label col-md-2">Longitude</label>
                    <div class="col-md-3">
                      <input type="text" ng-model="source.collection.longitude"
                             class="form-control"/>
                      <label class="radio-inline">
                        <input type="radio" name="east_west_group" value="East" checked/>East
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="east_west_group" value="West"/>West
                      </label>
                    </div> <!-- .controls -->
                  </div> <!-- .form-group -->
                </div> <!-- long-lat-group -->

                <div class="form-group">
                  <label class="control-label col-md-2">Accuracy</label>
                  <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">+/-</span>
                        <input type="text" ng-model="source.collection.geo_accy"
                               class="form-control"/>
                        <span class="input-group-addon">m</span>
                    </div> <!-- .input-group -->
                  </div> <!-- .col -->
                </div> <!-- .form-group -->

                <div class="form-group">
                  <label class="control-label col-md-2">GPS Datum</label>
                  <div class="col-md-3">
                    <input type="text" ng-model="source.collection.gps_datum"
                           class="form-control"/>
                  </div> <!-- .col -->
                </div> <!-- .form-group -->

                <div class="form-group">
                  <label class="control-label col-md-2">Altitude/Depth</label>
                  <div class="col-md-3">
                    <input type="text" ng-model="source.collection.elevation"
                           class="form-control"/>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group">
                      <span class="input-group-addon">+/-</span>
                      <input type="text" ng-model="source.collection.elevation_accy"
                             class="form-control"/>
                      <span class="input-group-addon">m</span>
                    </div> <!-- .input-group -->
                  </div> <!-- .col -->
                </div> <!-- .form-group -->

                <div class="form-group">
                  <label class="control-label col-md-2">Habitat description</label>
                  <div class="col-md-4">
                    <textarea class="col-md-6 form-control"
                              ng-model="source.collection.habitat"></textarea>
                  </div> <!-- .col -->
                </div> <!-- .form-group -->
              </div> <!-- .editor-section -->
            </accordion-group>

            <accordion-group heading="Propagation of source material">
              <div ng-include="'views/prop_editor.html'"></div>
            </accordion-group>
          </accordion>

        </form> <!-- .form-horizontal -->
      </tab>   <!-- end "Source" tab -->

      <tab heading="Verification">
        <div class="not-ready-warning">
          <p>We're still working on this one.</p>
        </div>
        <accordion>
          <accordion-group ng-repeat="verification in accession.verifications"
                           heading="Verification">
            <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-2">Verifier</label>
              <div class="col-md-3">
                <input type="text" ng-model="verification.verifier" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Date</label>
              <div class="col-md-3">
                <input ui-date type="text" ng-model="verification.date" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">New taxon</label>
              <div class="col-md-3">
                <input type="text" ng-model="verification.taxon" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Previous taxon</label>
              <div class="col-md-3">
                <input type="text" ng-model="verification.prev_taxon" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Level</label>
              <div class="col-md-3">
                <input type="text" ng-model="verification.level" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Reference</label>
              <div class="col-md-3">
                <input type="text" ng-model="verification.reference" class="form-control"/>
              </div> <!-- .col -->
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-md-2">Notes</label>
              <div class="col-md-6">
                <textarea type="text" ng-model="verification.notes" class="form-control">
                </textarea>
              </div> <!-- .col -->
            </div> <!-- .form-group -->
            </form>
          </accordion-group>
        </accordion>
      </tab> <!-- end "Verification" tab -->

      <tab heading="Voucher">
        <div class="not-ready-warning">
          <p>We're still working on this one.</p>
        </div>
      </tab> <!-- end "Voucher" tab -->

      <tab heading="Notes">
        <div ng-include="'views/notes_editor.html'"></div>
      </tab> <!-- end "Notes" tab -->

  </tabset>

  </div> <!-- .editor-body -->

  <div class="action-buttons">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>

</div>
