<div ng-controller="AccessionViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" ng-href="#/accession/{{accession.id}}/edit">Edit</a>
    <a class="btn btn-default" ng-href="#/plant/add?accession={{accession.id}}">Add Plant</a>
    <a class="btn btn-default" ng-click="delete(accession.id)">Delete</a>
  </div>

  <h3>{{accession.str}}</h3>
  <h4><a <a ng-href="{{'#/search?q=taxon where id%3d' + accession.taxon_id}}">{{accession.taxon_str}}</h4>

  <div># of Plants:
    <a ng-href="{{'#/search?q=plant where accession.code%3d' + accession.code}}"
       loading-spinner="counts.plants">
      {{counts.plants}}</a>
  </div>
</div>
