<div ng-controller="AccessionEditorCtrl" class="bauble-editor accession-editor">

  <div class="row">
    <div class="editor-header span12">
      <div class="header-title span8">
        <h4>--</h4>
      </div>
      <div class="header-buttons span3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div>

  <div class="editor-body">

      <ul class="nav nav-tabs">
        <li ng-class="{active: activeTab=='general'}">
          <a ng-click="activeTab='general'">General</a>
        </li>
        <li ng-class="{active: activeTab=='source'}">
          <a ng-click="activeTab='other'">Source</a>
        </li>
        <li ng-class="{active: activeTab=='verification'}">
          <a ng-click="activeTab='other'">Verification</a>
        </li>
        <li ng-class="{active: activeTab=='vouchers'}">
          <a ng-click="activeTab='other'">Voucher</a>
        </li>
        <li ng-class="{active: activeTab=='notes'}">
          <a ng-click="activeTab='notes'">Notes</a>
        </li>
      </ul> <!-- .nav .nav-tabs -->

    <div class="tab-content" ng-switch="activeTab">

      <div class="tab-pane active" ng-switch-when="general">

        <form class="form-horizontal">

          <div class="control-group">
            <label class="control-label">Taxon</label>
            <div class="controls">
              <input id="taxonField" style="width: 200px" ui-select2="taxonSelectOptions"
                     ng-model="accession.taxon" required>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">ID qual</label>
            <div class="controls">
              <select ng-model="taxon.id_qual" ng-options="q for q in id_qualifiers" class="input-small"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Qualifier rank</label>
            <div class="controls">
              <!-- <select ng-model="taxon.sp_qual" ng-options="q for q in qualifiers" class="input-small"></select> -->
              <select></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Accession</label>
            <div class="controls">
              <input type="text" ng-model="accession.code" required/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Type of material</label>
            <div class="controls">
              <select ng-model="accession.recvd_type" ng-options="value as text for (value, text) in recvd_type_values" class="input-small"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Quantity</label>
            <div class="controls">
              <input type="text" ng-model="accession.quantity_recvd" class="input-small" required/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Date Received</label>
            <div class="controls">
              <input ui-date ng-model="accession.date_recvd" type="text" class="input-small"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Date Accessioned</label>
            <div class="controls">
              <input ui-date ng-model="accession.date_accd" type="text" class="input-small"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Intended Location 1</label>
            <div class="controls">
              <input type="text" ng-model="accession.intended_location_id"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Intended Location 2</label>
            <div class="controls">
              <input type="text" ng-model="accession.intended2_location_id"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Private</label>
            <div class="controls">
              <input type="checkbox" ng-model="accession.intended2_location_id"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Provenance</label>
            <div class="controls">
              <select ng-model="accession.prov_type" ng-options="value as text for (value, text) in prov_type_values" class="input-small"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Wild Status</label>
            <div class="controls">
              <select ng-model="accession.wild_prov_status" ng-options="value as text for (value, text) in wild_prov_status_values" class="input-small"></select>
            </div>
          </div>


        </form>

      </div> <!-- .tab-pane general -->

      <div class="tab-pane active" ng-switch-when="source">
      </div> <!-- .tab-pane source -->

      <div class="tab-pane active" ng-switch-when="verification">
      </div> <!-- .tab-pane verification -->

      <div class="tab-pane active" ng-switch-when="voucher">
      </div> <!-- .tab-pane voucher -->

      <div class="tab-pane active" ng-switch-when="notes">
        <div ng-include="'views/notes_editor.html'"></div>
      </div> <!-- .tab-pane notes -->

    </div> <!-- .tab-content -->

  </div> <!-- .editor-body -->

</div>
