<div ng-controller="AdminOrgCtrl">
<h3>Organization</h3>
<form class="form-horizontal" novalidate>
  <div class="form-group">
    <label class="col-md-2 control-label" for="inputOrgName" novalidate>Name</label>
    <div class="col-md-8">
      <input type="text" ng-model="org.name" id="inputOrgName" 
             class="form-control" name="orgName">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="inputOrgShortName" novalidate>Short name</label>
    <div class="col-md-8">
      <input type="text" ng-model="org.short_name" id="inputOrgShortName" 
             class="form-control" name="orgShortName">
    </div>
  </div>

  <h3>Billing</h3>
  <p>To be done.</p>
</form>
