<!-- The AdminNewUserCtrl controller is injected here automatically by the
     $dialog service -->
  <div class="modal-header">
    <h4>Create an User</h4>
  </div>

  <div class="modal-body">
      <label>User name</label>
      <input type="text" ng-model="user.username"></input>

      <label>Full name</label>
      <input type="text" ng-model="user.fullname"></input>

      <label>Password</label>
      <input type="password" ng-model="user.password"></input>      
      
      <label>Confirm password</label>
      <input type="password" ng-model="user.password"></input>      

      <label>Organization</label>
      <!-- the orgs should be inherited from the parent scope -->
      <select ng-model="user.organization" required
              ng-options="orgName(org) for org in orgs"></select>
        
     
  </div>

  <div class="modal-footer">
    <button ng-click="save(result)" class="btn btn-primary">Save</button>
    <!-- <button class="btn btn-primary">Close</button> -->
  </div>



