<div ng-controller="AdminSysadminCtrl" class="admin-sysadmin-page">
  <h3>SysAdmin</h3>

  <div class="group-header">
    <h4>Organizations</h4> 
    <a ng-click="newOrg()">New</a> 
    <!-- <input type="text" class="input-medium search-query"> -->
  </div>
  <div class="grid org-grid" ng-grid="orgGridOptions"></div>

  <div class="group-header">
    <h4>Users</h4> 
    <a ng-click="newUser()">New</a>
    <!-- <input type="text" class="input-medium search-query"> -->
  </div>
  <div class="grid user-grid" ng-grid="userGridOptions"></div>
</div>
