<div ng-form name="familyForm" class="bauble-editor" novalidate>

  <alert class="col-md-6 col-md-offset-3" ng-repeat="alert in alerts"
         type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <!-- <div class="editor-header"> -->
  <h2>{{family.str || 'New family'}}</h2>

  <tabset>
    <tab heading="General">

      <div class="row">
        <div class="col-md-5 col-sm-6">

          <form name="general" role="form" novalidate>

            <div class="form-group">
              <label class="col-md-2 control-label" for="family-family-input"
                     novalidate>Family</label>
              <!-- <div class="col-md-8"> -->
              <input type="text" ng-model="family.family" id="family-family-input"
                     class="form-control" name="family" required>
              <!-- </div> -->
            </div> <!-- .form-group -->


            <div class="form-group">
              <label class="col-md-2 control-label" for="family-qualifier-input">
                Qualifier</label>
              <div class="col-md-8">
                <select ng-model="family.qualifier" class="form-control"
                        id="family-qualifier-input"
                        ng-options="q for q in qualifiers">
                  <option value="">-- choose qualifier --</option>
                </select>
              </div>
            </div> <!-- .form-group -->

          </form>
        </div> <!-- .col -->

        <!-- Synonyms Form -->
        <div class="col-md-5 col-md-offset-1">

          <form role="form" name="synonyms">

            <div class="form-group">
              <label for="family-synonym-input">Synonyms</label>
              <div class="input-group">
                <input type="text" ng-model="newSynonym"
                       placeholder="Family" typeahead-editable="false"
                       typeahead="family as family.str for family in getSynonyms($viewValue)"
                       typeahead-loading="loadingSynonyms" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" ng-disabled="!newSynonym"
                          ng-click="addSynonym(newSynonym); newSynonym=null;">Add</button>
                </span>
              </div>
            </div>  <!-- .form-group -->

            <ul class="synonyms-list list-group">
              <p ng-hide="data.synonyms && data.synonyms.length > 0">
                This family doesn't have any synonyms.
              </p>
              <li ng-repeat="synonym in data.synonyms" class="list-group-item">
                {{synonym.str}}
                <button class="pull-right trash-btn btn" ng-click="removeSynonym(synonym)">
                  <i class="fa fa-trash-o pull-right"></i></button>
              </li>
            </ul>


          </form>
        </div> <!-- .col -->
      </div> <!-- .row -->

    </tab>  <!-- General tab -->

    <tab heading=Notes>
      <div ng-include src="'views/notes_editor.html'"></div>
    </tab>
  </tabset>

  <div class="action-buttons">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>


</div> <!-- .family-editor .modal -->
