<div ng-controller="FamilyViewCtrl">

  <div id="actionButtons" class="pull-right">
    <span ng-repeat="button in viewMeta.buttons">
      <button class="btn" data-emit="{{button.event}}">{{button.name}}</button>
    </span>
  </div>

  <h3>{{family.str}}</h3>

  <div># of Genera</div>
  <div># of Taxa</div>
  <div># of Accessions</div>
  <div># of Plants</div>


  <h4>Syonyms</h4>
  <div ng-show="family.synonyms.length < 1" style="color: #aaa">
    This family has no synonyms.
  </div>
  <ul>
      <li ng-repeat="synonym in family.synonyms">{{synonym.str}}</li>
  </ul>

  <div id="familyEditorContainer" ng-include="editorTemplate" onload="onEditorLoaded()"></div>

</div>


