<div id="familyEditor" ng-controller="FamilyEditorCtrl" modal="showEditor" class="bauble-editor"
     class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="width:940px; margin-left:-470px;">

  <div class="modal-body">

    <ul class="nav nav-tabs" id="familyEditorTabs">
      <li ng-class="{active: activeTab=='general'}"><a ng-click="activeTab='general'">General</a></li>
      <li ng-class="{active: activeTab=='notes'}"><a ng-click="activeTab='notes'">Notes</a></li>
    </ul>

    <div class="tab-content" ng-switch="activeTab">

        <div class="tab-pane active" ng-switch-when="general">

          <div class="row">
          <div class="span5">
            <form name="familyForm" class="form-inline">

              <div>
                <label class="control-label" for="inputFamily">Family</label>
                <input type="text" ng-model="family.family" id="inputFamily" required>
              </div>

              <label class="control-label" for="inputQualifier" >Qualifier</label>
              <span id="inputQualifier">
                <select ng-model="family.qualifier" ng-options="q for q in qualifiers">
                  <option value="">-- choose qualifier --</option>
                </select>
              </span>

            </form>
          </div>

          <div class="span4" style="max-height: 300px; height: 300px;">
            <label>Synonyms</label>
            <div>
              <input id="familySynonymField" style="width: 200px" ui-select2="selectOptions" ng-model="selectedSyn"/>
              <button class="btn" ng-click="addSynonym(selectedSyn); selectedSyn=null;" ng-disabled="!selectedSyn">Add</button>
            </div>
            <ul>
              <li ng-repeat="synonym in family.synonyms">{{synonym.str}}</li>
            </ul>
          </div>
        </div>

        </div> <!-- .tab-pane "general" -->

        <div ng-switch-when="notes" class="tab-pane active">
            <div ng-include src="'views/notes_editor.html'"></div>
        </div>


    </div> <!-- end tab-content -->

  </div> <!-- .modal-body -->

  <div class="modal-footer">
      <button class="btn" data-dismiss="modal" ng-click="close()" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="save()">Save changes</button>
  </div>

