
<div ng-form name="familyForm" ng-controller="FamilyEditorCtrl" class="bauble-editor family-editor" novalidate>
  <alert class="span6 offset3" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="row">
    <div class="editor-header span12">
      <div class="header-title span8">
        <h4>{{family.str || 'New family'}}</h4>
      </div>
      <div class="header-buttons span3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div>
  </div>

    <div class="editor-body">

      <ul class="nav nav-tabs">
        <li ng-class="{active: activeTab=='general'}"><a ng-click="activeTab='general'">General</a></li>
        <li ng-class="{active: activeTab=='notes'}"><a ng-click="activeTab='notes'">Notes</a></li>
      </ul>

      <div class="tab-content" ng-switch="activeTab">

          <div class="tab-pane active" ng-switch-when="general">

              <form class="form-horizontal" novalidate>
                <div class="control-group">
                  <label class="control-label" for="inputFamily" novalidate>Family</label>
                  <div class="controls">
                    <input type="text" ng-model="family.family" id="inputFamily" name="family" required>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputQualifier">Qualifier</label>
                  <div class="controls">
                  <span id="inputQualifier" >
                    <select ng-model="family.qualifier" ng-options="q for q in qualifiers">
                      <option value="">-- choose qualifier --</option>
                    </select>
                  </span>
                </div>
                </div>

              </form> <!-- ng-form -->

            <div>
              <label>Synonyms</label>
              <div>
                <input ui-select2="selectOptions" ng-model="selectedSyn" class="input-large" /></input>
                <button class="btn" ng-click="addSynonym(selectedSyn); selectedSyn={};" ng-disabled="!selectedSyn">Add</button>
                <!-- <button class="btn" ng-click="addSynonym(selectedSyn)" ng-disabled="!selectedSyn">Add</button> -->
              </div>
              <ul>
                <li ng-repeat="synonym in family.synonyms">{{synonym.str}}</li>
              </ul>
            </div>

          </div> <!-- .tab-pane "general" -->

          <div ng-switch-when="notes" class="tab-pane active">
              <div ng-include src="'views/notes_editor.html'"></div>
          </div>


      </div> <!-- end tab-content -->

    </div> <!-- .modal-body -->

    <!-- <div class="modal-footer">

    </div> -->

</div> <!-- .family-editor .modal