<div ng-controller="FamilyViewCtrl">

  <div id="actionButtons" class="pull-right">
    <span ng-repeat="button in viewMeta.buttons">
      <button class="btn" data-emit="{{button.event}}">{{button.name}}</button>
    </span>
  </div>

  <h3>{{family.str}}</h3>

  <div># of Genera: {{counts.genera}}</div>
  <div># of Taxa: {{counts.taxa}}</div>
  <div># of Accessions: {{counts.accessions}}</div>
  <div># of Plants: {{counts.plants}}</div>

  <h4>Syonyms</h4>
  <div ng-show="!family.synonyms || family.synonyms.length < 1" style="color: #aaa">
    This family has no synonyms.
  </div>
  <ul>
      <li ng-repeat="synonym in family.synonyms">{{synonym.str}}</li>
  </ul>

</div>


