<div ng-controller="GenusViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" ng-href="#/genus/{{genus.id}}/edit">Edit</a>
    <a class="btn btn-default" ng-href="#/taxon/add?genus={{genus.id}}">Add Taxon</a>
    <a class="btn btn-default" ng-href="#/genus/{{genus.id}}/delete">Delete</a>
  </div>

  <!-- <div id="actionButtons" class="pull-right">
  <span ng-repeat="button in viewMeta.buttons">
  <button class="btn" data-emit="{{button.event}}">{{button.name}}</button>
  </span>
  </div> -->

  <h3>{{genus.str}}</h3>

  <div># of Taxa: {{counts.taxa}}</div>
  <div># of Accessions: {{counts.accessions}}</div>
  <div># of Plants: {{counts.plants}}</div>

  <h4>Syonyms</h4>
  <div ng-show="!genus.synonyms || genus.synonyms.length < 1" style="color: #aaa">
    This genus has no synonyms.
  </div>
  <ul>
      <li ng-repeat="synonym in genus.synonyms">
  </ul>

</div>
