<div ng-form name="genusForm" ng-controller="GenusEditorCtrl" class="bauble-editor genus-editor container">
<alert class="span6 offset3" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row">
    <div class="editor-header span12">
      <div class="header-title span8">
        <h4>{{genus.str || 'New genus'}}</h4>
      </div>
      <div class="header-buttons span3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div>

  <div class="editor-body">

    <ul class="nav nav-tabs" id="genusEditorTabs">
      <li ng-class="{active: activeTab=='general'}"><a ng-click="activeTab='general'">General</a></li>
      <li ng-class="{active: activeTab=='notes'}"><a ng-click="activeTab='notes'">Notes</a></li>
    </ul>

    <div class="tab-content" ng-switch="activeTab">

      <div class="tab-pane active" ng-switch-when="general">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">Family</label>
            <div class="controls">
              <input ui-select2="familySelectOptions" id="familyField" style="width: 200px" ng-model="genus.family"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Genus</label>
            <div class="controls">
              <input type="text", ng-model="genus.genus" required/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Author</label>
            <div class="controls">
              <input type="text" ng-model="genus.author" required/>
            </div>
          </div>

        </form>
      </div>

      <div ng-switch-when="notes" class="tab-pane active">
        <div ng-include src="'views/notes_editor.html'"></div>
      </div>

    </div> <!-- .tab-content -->
  </div> <!-- .editor-body -->

</div>
