<div ng-controller="GenusViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" location-push ng-href="#/genus/{{genus.id}}/edit">Edit</a>
    <a class="btn btn-default" location-push ng-href="#/taxon/add?genus={{genus.id}}">Add Taxon</a>
    <a class="btn btn-default" ng-click="delete(genus.id)">Delete</a>
  </div>

  <h3>{{genus.str}}</h3>

  <div># of Taxa:
    <a ng-href="#/search?q=taxon where genus.id%3d'{{genus.id}}'"
       loading-spinner="counts.taxa">
      {{counts.taxa}}</a>
  </div>

  <div># of Accessions:
    <a ng-href="#/search?q=accession where taxon.genus.id%3d'{{genus.id}}'"
       loading-spinner="counts.accessions">
      {{counts.accessions}}</a>
  </div>

  <div># of Plants:
    <a ng-href="#/search?q=plant where accession.taxon.genus.id%3d'{{genus.id}}'"
       loading-spinner="counts.plants">
      {{counts.plants}}</a>
  </div>

  <h4>Synonyms</h4>
  <div ng-show="!genus.synonyms || genus.synonyms.length < 1" style="color: #aaa">
    This genus has no synonyms.
  </div>
  <ul>
    <li ng-repeat="synonym in genus.synonyms" loading-spinner="genus.synonyms">
      <a ng-href="#/search?q=genus where id%3d'{{synonym.id}}'">{{synonym.str}}</a>
    </li>
  </ul>

</div>
