<div ng-form name="genusForm" class="row bauble-editor genus-editor">

  <alert class="span6 offset3" ng-repeat="alert in alerts" type="alert.type"
         close="closeAlert($index)">{{alert.msg}}</alert>

  <h3>{{genus.str || 'New genus'}}</h3>

  <div class="editor-body">

    <tabset>

      <tab heading="General">
        <form role="form">
          <div class="form-group">
            <label for="family-input">Family</label>
            <input type="text" ng-model="family" id="family-input"
                     placeholder="Family" typeahead-editable="false"
                     typeahead="family as family.str for family in getFamilies($viewValue)"
                     typeahead-input-formatter="family.str"
                     typeahead-loading="loadingFamilies" class="form-control">
          </div>   <!-- .form-group -->

          <div class="form-group">
            <label for="genus-input">Genus</label>
            <input id="genus-input" type="text" ng-model="genus.genus"
                   class="form-control" required/>
          </div> <!-- .form-group -->

          <div class="form-group">
            <label id="author-input">Author</label>
            <input type="text" ng-model="genus.author" class="form-control"
                   id="author-input" required/>
          </div>

        </form>
      </tab>

      <!-- <tab heading="Notes">
      <div ng-include src="'views/notes_editor.html'"></div>
      </tab> -->

    </tabset>

  </div> <!-- .editor-body -->

  <div class="action-buttons">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>

</div>
