<div ng-controller="GenusViewCtrl">

  <div id="actionButtons" class="pull-right">
    <span ng-repeat="button in viewMeta.buttons">
      <button class="btn" data-emit="{{button.event}}">{{button.name}}</button>
    </span>
  </div>

  <h3>{{genus.str}}</h3>

  <div># of Taxa</div>
  <div># of Accessions</div>
  <div># of Plants</div>

  <h4>Syonyms</h4>
  <div ng-show="genus.synonyms.length < 1" style="color: #aaa">
    This genus has no synonyms.
  </div>
  <ul>
      <li ng-repeat="synonym in synonyms">
  </ul>

  <div id="genusEditorContainer" ng-include="editorTemplate" onload="onEditorLoaded()"></div>

</div>
