<div ng-controller="GenusEditorCtrl" modal="showEditor" tabindex="-1" role="dialog"
     aria-hidden="true" options="modalOptions">

  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h4>--</h4>
  </div>

  <div class="modal-body">

    <ul class="nav nav-tabs" id="genusEditorTabs">
      <li ng-class="{active: activeTab=='general'}"><a ng-click="activeTab='general'">General</a></li>
      <li ng-class="{active: activeTab=='notes'}"><a ng-click="activeTab='notes'">Notes</a></li>
    </ul>

    <div class="tab-content" ng-switch="activeTab">

      <div class="tab-pane active" ng-switch-when="general">
        <form name="genusForm">

          <label>Family</label>
          <input id="familyField" style="width: 200px" ui-select2="selectOptions" ng-model="genus.family"/>

          <label>Genus</label>
          <input type="text", ng-model="genus.genus" required/>

          <label>Author</label>
          <input type="text" ng-model="genus.author" required/>

        </form>
      </div>

      <div ng-switch-when="notes" class="tab-pane active">
        <div ng-include src="'views/notes_editor.html'"></div>
      </div>

    </div> <!-- .tab-content -->
  </div> <!-- .model-body -->

  <div class="modal-footer">
      <button class="btn" ng-click="close()" aria-hidden="true">Close</button>
      <button class="btn btn-primary" ng-click="save()">Save changes</button>
  </div>

</div>