<div ng-form name="locationForm"  class="bauble-editor location-editor container">

  <alert class="col-md-6 col-md-offset 3" ng-repeat="alert in alerts" type="alert.type"
         close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row editor-header">
    <div class="header-title col-md-8">
      <h4>{{location.str || 'New location'}}</h4>
    </div>
    <div class="header-buttons col-md-3 pull-right">
      <button class="btn" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
  </div> <!-- .editor-header -->


  <div class="editor-body">

    <form class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-md-2">Code</label>
      <div class="col-md-2">
        <input type="text" ng-model="location.code" class="form-control" required/>
      </div>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label class="control-label col-md-2">Name</label>
      <div class="col-md-4">
        <input type="text" ng-model="location.name" class="form-control"/>
      </div>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label class="control-label col-md-2">Description</label>
      <div class="col-md-5">
        <textarea ng-model="location.description" class="form-control"></textarea>
      </div>
    </div> <!-- .form-group -->

    </form>
  </div> <!-- .editor-body -->
</div> <!-- .location-editor -->
