<div ng-form name="locationForm" class="bauble-editor location-editor">

  <alert class="col-md-6 col-md-offset 3" ng-repeat="alert in alerts" type="alert.type"
         close="closeAlert($index)">{{alert.msg}}</alert>

  <h3>{{location.str || 'New location'}}</h3>

  <form>

    <div class="form-group">
      <label for="code-input">Code</label>
      <input type="text" ng-model="location.code" class="form-control" id="code-input"
             required/>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label for="name-input">Name</label>
      <input type="text" ng-model="location.name" class="form-control" id="name-input"/>
    </div> <!-- .form-group -->

    <div class="form-group">
      <label for="description-input">Description</label>
      <textarea ng-model="location.description" class="form-control" id="description-input">
      </textarea>
    </div> <!-- .form-group -->

  </form>

  <div class="action-buttons">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
  </div>

</div> <!-- .location-editor -->
