<div ng-controller="LocationEditorCtrl" class="bauble-editor location-editor">

  <div class="row">
    <div class="editor-header span12">
      <div class="header-title span8">
        <h4>--</h4>
      </div>
      <div class="header-buttons span3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div>

  <div class="editor-body">
      <form name="locationForm">

        <label>Location</label>
        <input type="text" ng-model="location.code" required/>

        <!-- <label>Notes</label>
        <textarea ng-model="location.notes" rows="5"></textarea> -->
      </form>
  </div> <!-- .editor-body -->

</div> <!-- .location-editor -->