<div ng-controller="LocationViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" ng-href="#/location/{{location.id}}/edit">Edit</a>
    <a class="btn btn-default" ng-href="#/location/{{location.id}}/delete">Delete</a>
  </div>

  <h3>{{location.str}}</h3>

  <div># of Plants: {{counts.plants}}</div>

  <h4>Description</h4>
  <div ng-show="!location.description" style="color: #aaa">
    This location has no description.
  </div>
  <div>
    {{location.description}}
  </div>


</div>
