<!-- <div ng-include="'views/navbar-noauth.html'"></div> -->
<div class="login-page">

  <div class="row">
    <div class="col col-lg-4 col-offset-4">
      
      <form class="form-signin">
        <fieldset>
          <legend>Sign In</legend>
          <input type="text" placeholder="Email address" ng-model="username" 
                 class="form-control"
                 autocomplete="off" autocorrect="off" autocapitalize="off">
          <input type="password" placeholder="Password" ng-model="password"
                 class="form-control">
          <!-- <label class="checkbox"> -->
          <!--   <input type="checkbox" value="remember-me"> Remember me -->
          <!-- </label> -->
          <button class="btn btn-large btn-primary" type="submit" 
                  ng-click="logIn()">Sign In</button>
          <a style="padding-top: 2em" href="#/newuser" class="pull-right">Or signup</a>
        </fieldset>
      </form>

      <div class="alert" ng-show="message">
        <button type="button" class="close" data-dismiss="alert"
                ng-click="message=''">&times;</button> 
        {{message}}
      </div>
      

    </div> <!-- .col -->
  </div> <!-- .row -->

</div> <!--.login-page -->

