<div ng-controller="PlantViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" ng-href="#/plant/{{plant.id}}/edit">Edit</a>
    <a class="btn btn-default" ng-click="delete(plant.id)">Delete</a>
  </div>

  <h3>{{plant.str}}</h3>

  <div>Location: <a ng-href="#/search?q=location where code%3d'{{plant.location.code}}'">{{plant.location.str}}</a></div>
  <div>Type: {{plant.acc_type}}</div>
  <div>Quantity: {{plant.quantity}}</div>
  <div>Memorial: {{plant.memorial}}</div>

  <h4>Changes</h4>

  <h4>Propagations</h4>

  <h4>Notes</h4>


</div>
