<div ng-form name="plantForm" ng-controller="PlantEditorCtrl" class="bauble-editor plant-editor container">
  <alert class="col-lg-6 col-lg-3" ng-repeat="alert in alerts" type="alert.type" 
         close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row">
    <div class="editor-header col-lg-12">
      <div class="header-title col-lg-8">
        <h4>{{plant.str || 'New plant'}}</h4>
      </div>
      <div class="header-buttons col-lg-3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div> <!-- .row -->

  
  <div class="editor-body">

    <tabset>
      <tab heading="General">
        <form class="form-horizontal">

            <div class="form-group">
              <label class="control-label col-lg-2" for="accessionField">Accession</label>
              <div class="col-lg-6">
                <input ui-select2="accSelectOptions" ng-model="plant.accession" 
                       id="accessionField" class="input-large"/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-lg-2">Plant code</label>
              <div class="col-lg-2">
                <input type="text" ng-model="plant.code" class="form-control" required/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-lg-2">Accession type</label>
              <div class="col-lg-2">
                <select ng-model="plant.acc_type" class="form-control"
                        ng-options="value as text for (value, text) in acc_type_values">
                </select>
              </div>
            </div> <!-- .form-group -->


            <div class="form-group">
              <label class="control-label col-lg-2">Memorial</label>
              <div class="col-lg-3">
                <input type="text" ng-model="plant.memorial" class="form-control" required/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-lg-2">Quantity</label>
              <div class="col-lg-2">
                <input type="text" ng-model="plant.quantity" 
                       class="form-control" required/>
              </div>
            </div> <!-- .form-group -->

            <div class="form-group">
              <label class="control-label col-lg-2">Location</label>
              <div class="col-lg-4">
                <input id="locationField" ui-select2="locationSelectOptions"
                       ng-model="plant.location" class="input-large" required/>
              </div>
            </div> <!-- .form-group -->

            <div class="editor-section">
              <h5>Current change</h5>
              <div class="form-group">
                <label class="control-label col-lg-2">Reason</label>
                <div class="col-lg-3">
                  <input type="text" ng-model="plant.change.reason" class="form-control"
                         required/>
                </div>
              </div> <!-- .form-group -->

              <div class="form-group">
                <label class="control-label col-lg-2">Date</label>
                <div class="col-lg-2">
                  <input bs-datepicker type="text" ng-model="plant.change.date" required/>
                </div>
              </div> <!-- .form-group -->
            </div> <!-- .editor-section -->


          </form> <!-- .form-horizontal -->
      </tab>

      <tab heading="Propagation">
        <div ng-include="'views/prop_editor.html'"></div>
      </tab>

      <tab heading="Notes">
        <div ng-include="'views/notes_editor.html'"></div>
      </tab>

    </tabset>
  </div> <!-- .editor-body -->
</div> <!-- .plant-editor -->
