<div ng-controller="PlantEditorCtrl" class="bauble-editor plant-editor">

  <div class="row">
    <div class="editor-header span12">
      <div class="header-title span8">
        <h4>--</h4>
      </div>
      <div class="header-buttons span3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div>

  <div class="editor-body">
      <form>
        <label>Accession</label>
        <input id="accessionField" style="width: 200px" ui-select2="multiOptions" ng-model="accession"/>

        <label>Plant</label>
        <input ng-model="plant.code" required/>

        <!-- <label>Notes</label>
        <textarea ng-model="genus.notes" rows="5"></textarea> -->
      </form>
  </div> <!-- .editor-body -->
</div> <!-- .plant-editor -->
