<div class="editor-section taxon-section">
  <h5>Sowing data</h5>
  <div class="control-group">
    <label class="control-label">Pretreatment</label>
    <div class="controls">
      <textarea class="span6" ng-model="accession.source.propagation._seed.pretreatment"></textarea>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label"># of Seeds</label>
    <div class="controls">
      <input type="text" class="span1" ng-model="accession.source.propagation._seed.nseeds"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Date Sown</label>
    <div class="controls">
      <input ui-date type="text" ng-model="accession.source.propagation._seed.date_sown"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Location</label>
    <div class="controls">
      <input type="text" ng-model="accession.source.propagation._seed.location"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Container</label>
    <div class="controls">
      <input type="text" ng-model="accession.source.propagation._seed.container"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Germination Media</label>
    <div class="controls">
      <input type="text" ng-model="accession.source.propagation._seed.media"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->
</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Germination data</h5>
  <div class="control-group">
    <label class="control-label">Date Germinated</label>
    <div class="controls">
      <input ui-date type="text" ng-model="accession.source.propagation._seed.germ_date"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label"># Germinated</label>
    <div class="controls">
      <input type="text" class="span1" ng-model="accession.source.propagation._seed.nseedlings"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">% Germinated</label>
    <div class="controls">
      <input type="text" class="span1" ng-model="accession.source.propagation._seed.germ_pct"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Date Planted</label>
    <div class="controls">
      <input ui-date type="text" ng-model="accession.source.propagation._seed.date_planted"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->
</div>  <!-- .editor-section -->

