<div class="editor-section">
  <h5>Cutting treatment</h5>

  <div class="control-group">
    <label class="control-label">Cutting type</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.cutting_type"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Tip</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.tip"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Cutting length</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.length"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Cutting length</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.length_unit"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Flower buds</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.flower_buds"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Leaves</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.leaves"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Wounded</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.wound"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Leaves reduced by</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.leaves_reduced_pct"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->
</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Rooting conditions</h5>

  <div class="control-group">
    <label class="control-label">Rooting media</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.media"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Location</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.location"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Bottom heat</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.bottom_heat_temp"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Bottom heat</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.bottom_heat_unit"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Container</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.container"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Cover</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.cover"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Chemical treatment</h5>
  <div class="control-group">
    <label class="control-label">Fungal</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.fungicide"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->

  <div class="control-group">
    <label class="control-label">Hormone</label>
    <div class="controls">
      <input ng-model="accession.source.propagation._cutting.hormone"/>
    </div> <!-- .controls -->
  </div> <!-- .control-group -->
</div> <!-- .editor-section -->

<div class="editor-section">
  <h5>Rooted plants</h5>
</div> <!-- .editor-seection -->
