<div id="report-designer">
  <div class="container">

    <div class="row" id="report-selector" ng-show="showReportSelector">
      <div class="col-md-5">
        <select ng-model="report" ng-options="report.name for report in reports"
                class="form-control">
          <option value="" style="display:none" disabled selected>Select a report</option>
        </select>
        <div><p>- or -</p></div>
        <div>
          <button class="btn btn-primary"
                  ng-click="showReportSelector=false; showQueryBuilder=true">
            Create a new report
        </button>
        </div>
      </div> <!-- .col -->
    </div> <!-- .row -->

    <div ng-hide="showQueryBuilder || showReportSelector">
      <a ng-click="showQueryBuilder=true">Edit query...</a>
    </div>

    <div id="report-query-builder" ng-show="showQueryBuilder">
      <div class="panel domain-box">
        <div class="panel-heading">Select a domain</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <select ng-model="resource"
                      ng-options="domain.resource as domain.label for domain in domains | orderBy:domain.sort"
                      class="form-control"></select>
            </div> <!-- .col -->
          </div> <!-- .row -->
        </div> <!-- .panel-body -->
      </div><!-- .panel -->

      <div class="panel filters-box">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
          <div class="filters-row form-horizontal" ng-repeat="filter in filters">
            <div class="form-group">

              <div ng-show="$index>0" class="col-md-1">
                <select ng-model="filters[$index].boolOp" class="form-control">
                  <option value="and">and</option>
                  <option value="or">or</option>
                </select>
              </div>

              <div class="col-md-3">
                <div schema-menu class="filter-schema-menu" resource="resource"></div>
              </div>

              <div class="col-md-1">
                <select ng-model="filters[$index].operator" class="form-control"
                        ng-options="key for (key, value) in operators"></select>
                <!-- <select ng-options="= +">Operator</select> -->
              </div>
              <div class="col-md-4">
                <input ng-model="filters[$index].value" type="text"
                       class="form-control"/> <!-- type depending on field type -->
              </div>

              <div class="col-md-1 ">
                <a class="remove-button form-control" ng-click="filters.splice($index)">
                  <i class="fa-remove"></i></a>
              </div>
            </div> <!-- .form-group -->
          </div> <!-- .filters-row .form-horizontal -->
          <button type="button" class="btn" ng-click="addFilterField()">Add</button>
        </div><!-- .panel-body -->
      </div> <!-- .panel .filters-box-->

      <div class="panel order-box">
        <div class="panel-heading">Order By</div>
        <div class="panel-body">
          <div class="order-row form-horizontal" ng-repeat="order in orders">

            <div class="form-group">
              <div class="col-md-3">
                <div schema-menu class="filter-schema-menu" resource="resource"></div>
              </div>

              <div class="col-md-1">
                <select ng-model="filters[$index].operator" class="form-control">
                  <option>Ascending</option>
                  <option>Descending</option>
                </select>
              </div>
            </div> <!-- .form-group -->
          </div> <!-- .order-row .form-horizontal -->
          <button type="button" class="btn" ng-click="addOrder()">Add</button>
        </div> <!-- .panel-body -->
      </div>   <!-- .panel .order-box -->

      <button type="button" class="btn btn-primary"
              ng-click="refreshTable();showQueryBuilder=false"
              id="report-create-button" ng-disabled="validateQuery()">
        Create Report
      </button>

    </div>   <!-- #report-query-builder -->


    <div class="message" ng-hide="tableData && !message" ng-bind="message"></div>

  </div> <!-- .container -->

  <div ng-show="tableData">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="report-header row">
          <div class="col-md-8">
            <h4>Report</h4>
          </div>
        </div>   <!-- .report-header .row -->
      </div>     <!-- .col -->
    </div>       <!-- .row -->

    <div class="row">

      <div class="col-md-1">
        <ul class="action-icons pull-right">
          <li>
            <div class="dropdown">
              <a data-toggle="dropdown"><i class="fa fa-plus fa-large"></i></a>
              <ul class="dropdown-menu" rolw="menu" aria-labelledby="dLabel">
                <li ng-repeat="column in tableColumns">
                  <a ng-click="column.visible=!column.visible">
                    <i ng-show="column.visible" class="fa-check"></i>
                    <i ng-show="!column.visible" class="fa-check-empty"></i>
                    {{column.header}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><i class="fa fa-cog fa-large"></i></li>
          <li><a ng-click="saveReport()"><i class="fa fa-save fa-large"></i></a></li>
        </ul>
      </div>

      <div class="col-md-10">
        <table class="report-table table">
          <thead>
            <th class="report-table-header" ng-repeat="column in tableColumns"
                ng-show="column.visible" ng-mouseenter="showColButtons($event, $index)">
              {{column.header}}
            </th>
          </thead>
          <tbody>
            <tr class="report-table-row" ng-repeat="row in tableData">
              <td class="report-table-cell"  ng-show="column.visible"
                  ng-repeat="column in tableColumns">{{row[column.name]}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- hide/show -->

  </div> <!-- .report-designer -->
