<div id="report-designer" class="container">

  <!-- <span> -->
  <!--   <select ng-model="reportType" ng-options="type.name for type in reportTypes"></select> -->
  <!--   <ng-switch on="reportType.type"> -->
  <!--     <span ng-switch-when="new">A new one</span> -->
  <!--     <span ng-switch-when="current">Current seach</span> -->
  <!--     <span ng-switch-when="domain">Domain</span> -->
  <!--   </ng-switch> -->
  <!-- </span> -->

  <div class="panel domain-box">
    <div class="panel-heading">Select a domain</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <select ng-model="resource" 
                  ng-options="domain.resource as domain.label for domain in domains | orderBy:domain.sort"
                  class="form-control"></select>
        </div> <!-- .col -->
      </div> <!-- .row -->
    </div> <!-- .panel-body -->
  </div><!-- .panel -->
  

  <div class="panel filters-box">
    <div class="panel-heading">Filters</div>
    <div class="panel-body">
      <div class="filters-row form-horizontal" ng-repeat="filter in filters">
              
        <div class="form-group">
          <div class="col-lg-3">
            <div schema-menu class="filter-schema-menu" resource="resource"></div>
          </div>
          
          <div class="col-lg-1">
            <select ng-model="filters[$index].operator" class="form-control"
                    ng-options="key for (key, value) in operators"></select>
            <!-- <select ng-options="= +">Operator</select> -->
          </div>
          <div class="col-lg-4">
            <input ng-model="filters[$index].value" type="text"
                   class="form-control"/> <!-- type depending on field type -->
          </div>
        </div> <!-- .form-group -->
      </div> <!-- .filters-row .form-horizontal -->
      <button type="button" class="btn" ng-click="addFilterField()">Add</button>
    </div><!-- .panel-body -->
  </div> <!-- .panel .filters-box-->

  <div class="panel order-box">
    <div class="panel-heading">Order By</div>
    <div class="panel-body">
      <div class="order-row form-horizontal" ng-repeat="order in orders">
              
        <div class="form-group">
          <div class="col-lg-3">
            <div schema-menu class="filter-schema-menu" resource="resource"></div>
          </div>
          
          <div class="col-lg-1">
            <select ng-model="filters[$index].operator" class="form-control">
              <option>Ascending</option>
              <option>Descending</option>
            </select>
          </div>
        </div> <!-- .form-group -->
        </div> <!-- .order-row .form-horizontal -->
      <button type="button" class="btn" ng-click="addOrder()">Add</button>
    </div> <!-- .panel-body -->
  </div>   <!-- .panel .order-box -->

  <button type="button" class="btn btn-primary" ng-click="refreshTable()" 
          id="report-create-button" ng-disabled="validateQuery()">
    Create Report
  </button>
  <!-- </div> -->

  <!-- <div class="report-box"> -->

  <!--   <div> -->
  <!--     <h4>Fields</h4> -->
  <!--     <div schema-menu scalars-only='true' class="fields-schema-menu"  -->
  <!--          resource="resource"></div> -->
  <!--     <button type="button" class="btn" ng-disabled="!resource"  -->
  <!--             ng-click="addTableColumn()">Add</button> -->
  <!--   </div> -->

  <!-- </div> -->

  <!-- <div> -->
  <!--   <button type="button" class="btn" ng-click="refreshTable()">Refresh</button> -->
  <!-- </div> -->

  
  <div ng-hide="tableData && !message" ng-bind="message"></div>

  <div ng-show="tableData">
    <div class="row">
      <div class="report-header col-lg-12">
        <div class="report-title col-lg-8">
          <h4>Report</h4>
        </div>
        <div class="header-buttons col-lg-3">
          <button class="btn" ng-click="refresh()">Refresh</button>
          <button class="btn" ng-click="close()">Close</button>
          <button class="btn btn-primary" ng-click="save()">Save</button>
        </div> <!-- .header-buttons -->
      </div>   <!-- .report-header -->
    </div>     <!-- .row -->

    
    <table class="report-table table">
      <thead></thead>
      <th class="report-table-header" ng-repeat="column in tableColumns">{{column.header}}</th>
      <tbody>
        <tr class="report-table-row" ng-repeat="row in tableData">
          <td class="report-table-cell" 
              ng-repeat="column in tableColumns">{{row[column.name]}}</td>
        </tr>
      </tbody>
    </table>

  </div> <!-- hide/show -->

  
</div> <!-- .report-designer -->
