<div id="report-designer">
  <div class="row" id="report-selector" ng-show="model.showReportSelector">

    <div class="col-xs-5">
      <select ng-model="report" ng-options="report.name for report in model.reports"
              class="form-control" >
        <option value="">Select a report</option>
      </select>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-primary"
              ng-click="showReportSelector=false; showQueryBuilder=true">
        New report
      </button>
    </div>
  </div> <!-- .row -->

  <div id="report-query-builder" ng-show="model.showQueryBuilder">
    <div class="panel domain-box">
      <div class="panel-heading">Select a domain</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <select ng-model="model.resource"
                    ng-options="domain.resource as domain.label for domain in domains | orderBy:domain.sort"
                    class="form-control"></select>
          </div> <!-- .col -->
        </div> <!-- .row -->
      </div> <!-- .panel-body -->
    </div><!-- .panel -->

    <div class="panel filters-box">
      <div class="panel-heading">Filters</div>
      <div class="panel-body">
        <div class="filters-row form-horizontal" ng-repeat="filter in model.filters">
          <div class="form-group">

            <div ng-show="$index>0" class="col-md-1">
              <select ng-model="model.filters[$index].boolOp" class="form-control">
                <option value="and">and</option>
                <option value="or">or</option>
              </select>
            </div>

            <div class="col-md-3">
              <div schema-menu class="filter-schema-menu" resource="model.resource"></div>
            </div>

            <div class="col-md-1">
              <select ng-model="model.filters[$index].operator" class="form-control"
                      ng-options="key for (key, value) in operators"></select>
              <!-- <select ng-options="= +">Operator</select> -->
            </div>
            <div class="col-md-4">
              <input ng-model="model.filters[$index].value" type="text"
                     class="form-control"/> <!-- type depending on field type -->
            </div>

            <div class="col-md-1 ">
              <button class="remove-button btn btn-link" ng-click="model.filters.splice($index)">
                <i class="fa fa-times"></i></a>
            </div>
          </div> <!-- .form-group -->
        </div> <!-- .filters-row .form-horizontal -->
        <button type="button" class="btn" ng-click="addFilterField()">Add</button>
      </div><!-- .panel-body -->
    </div> <!-- .panel .filters-box-->

    <div class="panel order-box">
      <div class="panel-heading">Order By</div>
      <div class="panel-body">
        <div class="order-row form-horizontal" ng-repeat="order in orders">

          <div class="form-group">
            <div class="col-md-3">
              <div schema-menu class="filter-schema-menu" resource="model.resource"></div>
            </div>

            <div class="col-md-1">
              <select ng-model="model.filters[$index].operator" class="form-control">
                <option>Ascending</option>
                <option>Descending</option>
              </select>
            </div>
          </div> <!-- .form-group -->
        </div> <!-- .order-row .form-horizontal -->
        <button type="button" class="btn" ng-click="addOrder()">Add</button>
      </div> <!-- .panel-body -->
    </div>   <!-- .panel .order-box -->

    <button type="button" class="btn btn-primary"
            ng-click="refreshTable();model.showQueryBuilder=false"
            id="report-create-button" ng-disabled="validateQuery()">
      Create Report
    </button>

  </div>   <!-- #report-query-builder -->


  <div class="message" ng-hide="model.tableData.length >= 0  && !model.message" ng-bind="model.message"></div>

  <div ng-show="model.tableData">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="report-header row">
          <div class="col-md-8">
            <h3 ng-bind="model.report.name"></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-1">
        <ul class="action-icon-list">
          <li tooltip="Edit columns">
            <div class="dropdown">
              <a data-toggle="dropdown"><i class="fa fa-plus fa-2x"></i></a>
              <ul class="dropdown-menu" rolw="menu" aria-labelledby="dLabel">
                <li ng-repeat="column in model.tableColumns">
                  <a ng-click="column.visible=!column.visible">
                    <i ng-show="column.visible" class="fa-check"></i>
                    <i ng-show="!column.visible" class="fa-check-empty"></i>
                    {{column.header}}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li><i class="fa fa-cog fa-2x"></i></li> -->

          <li tooltip="Edit query">
            <a ng-click="model.showQueryBuilder=!model.showQueryBuilder">
            <i class="fa fa-pencil fa-2x"></i>
          </a></li>
          <li tooltip="Refresh">
            <a ng-click="refreshTable()"><i class="fa fa-refresh fa-2x"></i></a>
          </li>
          <li tooltip="Download">
            <a ng-click="download()"><i class="fa fa-cloud-download fa-2x"></i></a>
          </li>
          <li tooltip="Save">
            <a ng-click="saveReport()"><i class="fa fa-save fa-2x"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-md-11">
        <table class="report-table table">
          <thead>
            <th class="report-table-header" ng-repeat="column in model.tableColumns"
                ng-show="column.visible" ng-mouseenter="showColButtons($event, $index)">
              {{column.header}}
            </th>
          </thead>
          <tbody>
            <tr class="report-table-row" ng-repeat="row in model.tableData">
              <td class="report-table-cell"  ng-show="column.visible"
                  ng-repeat="column in model.tableColumns">{{row[column.name]}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- hide/show -->

  </div> <!-- .report-designer -->
