<div class="row">
  <div class="span12">
    <div class="search-box">
      <form>
        <div class="input-prepend input-append">
          <span class="addon-on"><button class="btn" type="button"><i class="icon-cog"></i></button></span>
          <input id="search-field" ng-model="q" type="search" class="appendedInputButtons input-xxlarge"/>
          <input class="btn" type="submit" ng-click="Search(q)">Search</input>
        </div>
       </form>
    </div> <!-- .search-box -->
  </div> <!-- .span12 -->
</div> <!-- .row -->

<div>
  TODO: List of saved searches or search history
</div>

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span4 results-list">
        <ul>
          <div ng-repeat="result in results">
              <li class="search-result-item"  ng-click="itemSelected(result)" ng-mouseenter="mouseEnterItem($event)" ng-mouseleave="mouseLeaveItem($event)">
                  <span>
                    <a class="search-result-expand icon-chevron-right" ng-click="itemExpanded()"></a>
                    <a class="search-result-link">{{result.str}}</a>
                  </span>
              </li>
          </div>
        </ul>
      </div> <!-- .span4 -->

      <div class="span8">
        <div ng-include src="viewMeta.view" class="resource-view"></div>
      </div> <!-- .span8 -->
    </div> <!-- .row -->
  </div> <!-- .span12 -->
</div> <!-- .row -->