<div class="row">
  <div class="search-box input-group col-lg-8">
      <!-- <form> -->
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="icon-cog"></i></button>
        </span>
        <input id="search-field" ng-model="q" type="search" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="Search(q)">Search</button>
        </span>
    <!-- </form> -->
  </div> <!-- .search-box -->
</div> <!-- .row -->

<div>
  TODO: List of saved searches or search history
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 results-list">
        <ul>
          <div ng-repeat="result in results">
              <li class="search-result-item"  ng-click="itemSelected(result)" ng-mouseenter="mouseEnterItem($event)" ng-mouseleave="mouseLeaveItem($event)">
                  <span>
                    <a class="search-result-expand icon-chevron-right" ng-click="itemExpanded()"></a>
                    <a class="search-result-link">{{result.str}}</a>
                  </span>
              </li>
          </div>
        </ul>
      </div> <!-- .col-lg-4 .results-list -->

      <div class=".col-lg-8">
        <div ng-include src="viewMeta.view" class="resource-view"></div>
      </div> <!-- .col-lg-8 -->
    </div> <!-- .row -->
  </div> <!-- .col-lg-12 -->
</div> <!-- .row -->
