<h3>Settings</h3>
<tabset>
  <tab heading="User">

    <div class="row">
      <div class="col-md-3">
        <form id="change-password-form" role="form">
          <div class="form-group">
            <label for="password1-input">Change Password</label>
            <!-- <input type="password" class="form-control" id="currenet-password-input"
            ng-model="currentPassword" placeholder="Current password"> -->
            <input type="password" class="form-control" id="password1-input"
                   ng-model="model.password1" placeholder="Enter password">
            <input type="password" class="form-control" id="password2-input"
                   ng-model="model.password2" placeholder="Confirm password">
          </div>

          <button type="submit" class="change-pwd-btn btn btn-default"
                  ng-disabled="model.password1 && (model.password1 != model.password2)"
                  ng-click="changePassword(model.password1)">Save Password</button>

          <span ng-if="changePasswordSuccess === true" class="success">Saved.</span>
          <span ng-if="changePasswordSuccess === false" class="error">Error.</span>
        </form>
      </div> <!-- .col -->
    </div> <!-- .row -->

  </tab>
  <tab heading="Organization">
    <div ng-include="'views/org-edit.html'">
  </tab>
</tabset>
