<div  ng-controller="SourceEditCtrl">
  <div modal="showSourceEditor" close="close()" options="modalOptions">
    <div class="modal-header">
        <h4>Source</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Name</label>
          <div class="controls">
            <input type="text" ng-model="source.name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Type</label>
          <div class="controls">
            <input type="text" ng-model="source.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <input type="text" ng-model="source.name">
          </div>
        </div>
      </form>
    </div> <!-- .modal-body -->
    <div class="modal-footer">
        <button class="btn cancel" ng-click="close()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div> <!-- .modal-footer -->
  </div>
</div>
