<div ng-controller="TaxonViewCtrl">

  <div id="summary-buttons" class="pull-right">
    <a class="btn btn-default" ng-href="#/taxon/{{taxon.id}}/edit">Edit</a>
    <a class="btn btn-default" ng-href="#/accession/add?taxon={{taxon.id}}">Add Accession</a>
    <a class="btn btn-default" ng-href="#/taxon/{{taxon.id}}/delete">Delete</a>
  </div>

  <!-- <div id="actionButtons" class="pull-right">
  <span ng-repeat="button in viewMeta.buttons">
  <button class="btn" data-emit="{{button.event}}">{{button.name}}</button>
  </span>
  </div> -->

  <h3>{{taxon.str}}</h3>

  <div># of Accessions:
    <a ng-href="#/search?q=accession where taxon.id%3d'{{taxon.id}}'">
      {{counts.accessions}}</a>
  </div>

  <div># of Plants:
    <a ng-href="#/search?q=plant where accession.taxon.id%3d'{{taxon.id}}'">
      {{counts.plants}}</a>
  </div>

  <h4>Vernacular Names</h4>
  <div ng-show="!taxon.vernacular_names || taxon.vernacular_names.length < 1"
       style="color: #aaa">
    This taxon has no vernacular names.
  </div>
  <ul>
      <li ng-repeat="vn in taxon.vernacular_names">{{vn.name}} ({{vn.language}})</li>
  </ul>


  <h4>Syonyms</h4>
  <div ng-show="!taxon.synonyms || taxon.synonyms.length < 1" style="color: #aaa">
    This taxon has no synonyms.
  </div>
  <ul>
      <li ng-repeat="synonym in taxon.synonyms">{{synonym.str}}</li>
  </ul>

</div>
