<div ng-form name="taxonForm" ng-controller="TaxonEditorCtrl" 
     class="bauble-editor taxon-editor container">
  <alert class="span6 offset3" ng-repeat="alert in alerts" type="alert.type"
         close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row">
    <div class="editor-header col-md-12">
      <div class="header-title col-md-8">
        <h4>{{taxon.str || 'New taxon'}}</h4>
      </div>
      <div class="header-buttons col-log-3">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </div> <!-- .editor-header -->
  </div>

  <div class="editor-body">

    <tabset>
      <tab heading="General">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-md-2" for="genusField">Genus</label>
            <div class="col-md-4">
              <input id="genusField" style="width: 200px"
                     ui-select2="genusSelectOptions" ng-model="taxon.genus"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="genusField">Hybrid</label>
            <div class="col-md-1">
              <input type="checkbox" ng-model="taxon.hybrid" id="hybridField"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="speciesField">Species</label>
            <div class="col-md-6">
              <input type="text" ng-model="taxon.sp" id="speciesField" 
                     class="form-control"/>
            </div>
          </div>
  
          <div class="form-group">
            <label class="control-label col-md-2" for="authorField">Author</label>
            <div class="col-md-4">
              <input type="text" ng-model="taxon.sp_author" id="authorField" 
                     class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2">Cultivar Group</label>
            <div class="col-md-4">
              <input type="text" ng-model="taxon.cv_group" class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2">Species qualifier</label>
            <div class="col-md-4">
              <select ng-model="taxon.sp_qual" ng-options="q for q in qualifiers" 
                      class="form-control"></select>
            </div>
          </div>
            

          <div class="infraspecific-container">
            <h4>Infraspecific parts</h4>
            <div class="row">
              <div class="col-md-2">
                <label class="control-label">Rank</label>
              </div>
              <div class="col-md-2">
                <label class="control-label">Epithet</label>
              </div>
              <div class="col-md-2">
                <label class="control-label">Author</label>
              </div>
            </div> <!-- .row -->

            <div class="row">
              <div class="col-md-2">
                <select ng-model="taxon.infrasp1_rank" ng-options="q for q in ranks" 
                        class="form-control"></select>
              </div>
              <div class="col-md-2">
                <input class="form-control" type="text" ng-model="taxon.infrasp1"/>
              </div>
              <div class="col-md-2">
                <input class="form-control"type="text" ng-model="taxon.infrasp1_author"/>
              </div>
            </div> <!-- .row -->

            <div class="row">
              <div class="col-md-2">
                <select ng-model="taxon.infrasp2_rank" ng-options="q for q in ranks" 
                        class="form-control"></select>
              </div>
              <div class="col-md-2">
                <input class="form-control" type="text" ng-model="taxon.infrasp2"/>
              </div>
              <div class="col-md-2">
                <input class="form-control"type="text" ng-model="taxon.infrasp2_author"/>
              </div>
            </div> <!-- .row -->

            <div class="row">
              <div class="col-md-2">
                <select ng-model="taxon.infrasp3_rank" ng-options="q for q in ranks" 
                        class="form-control"></select>
              </div>
              <div class="col-md-2">
                <input class="form-control" type="text" ng-model="taxon.infrasp3"/>
              </div>
              <div class="col-md-2">
                <input class="form-control"type="text" ng-model="taxon.infrasp3_author"/>
              </div>
            </div> <!-- .row -->
          
          </div> <!-- .infraspecific-container -->
        </form>
      </tab>
      
      <tab heading="Additional info">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-md-2" for="distField">
              Distribution</label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="distribution"
                     id="distfield"/>
            </div>
          </div> <!-- .form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">Label Distribution</label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="labelDistField"
                     id="labelDistfield"/>
            </div>
          </div> <!-- .form-group -->

          <div class="form-group">
            <label class="control-label col-md-2" for="habitatField">Habit</label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="habitat" 
                     id="habitatField"/>
            </div>
          </div> <!-- .form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">Awards</label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="awards" 
                     id="awardsField"/>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 vernacular-name-container">
              <h4>Vernacular Names</h4>

              <div class="row">
                <div class="col-md-3">
                  <label>Verncular name</label>
                </div>
                <div class="col-md-3">
                  <label>Language</label>
                </div>
                <div class="col-md-2">
                  <label>Default</label>
                </div>
              </div> <!-- .row -->

              <div class="row" ng-repeat="vernacular in taxon.vernacular_names">
                <div class="col-md-3">
                  <input type="text" value="{{vernacular.name}}" class="form-control"
                         ng-model="vernacular.name"/>
                </div>
                
                <div class="col-md-3">
                  <input type="text" value="{{vernacular.language}}" class="form-control"
                         ng-model="vernacular.language"/>
                </div>
                
                
                  <div class="col-md-2">
                    <div class="checkbox">
                      <input type="checkbox" class="input-lg" 
                             ng-model="vernacular.default"
                             value="{{vernacular.default}}"/>
                    
                    </div> <!-- .checkbox -->
                  </div>   <!-- .col -->
                
              </div> <!-- .row -->
              
              <button class="btn" ng-click="addVernacularName()">Add</button>

            </div> <!-- .vernacular-name-container -->
          </div> <!-- .row -->

              <!-- <div class="contents"> -->
            <!--     <table> -->
            <!--       <thead> -->
            <!--         <td>Vernacular name</td> -->
            <!--         <td>Language</td> -->
            <!--         <td>Default</td> -->
            <!--       </thead> -->
            <!--       <tr ng-repeat="vernacular in taxon.vernacular_names"> -->
            <!--         <td><input type="text" value="{{vernacular.name}}"/></td> -->
            <!--         <td><input type="text" value="{{vernacular.language}}"/></td> -->
            <!--         <td><input type="checkbox" class="input-small" value="{{vernacular.default}}"/></td> -->
            <!--       </tr> -->
            <!--     </table> -->
            <!--     <button class="btn" ng-click="addVernacularName()">Add</button> -->
            <!--   </div> <\!-- .contents -\-> -->
            <!-- </div> -->

            <div class="row">
              <div class="col-md-6 synonyms-box">
                <label>Synonyms</label>
                <input id="taxonSynonymField" style="width: 200px" ui-select2="synSelectOptions" ng-model="selectedSyn"/>
                <button class="btn" ng-click="addSynonym(selectedSyn); selectedSyn=null;" ng-disabled="!selectedSyn">Add</button>
                
                <ul>
                  <li ng-repeat="synonym in taxon.synonyms">{{synonym.str}}</li>
                </ul>
                
              </div> <!-- .synonyms-box -->
            </div> <!-- .row -->
        </form>
          
      </tab>

      <tab heading="Notes">
        <div ng-include="'views/notes_editor.html'"></div>
      </tab>

    </tabset>
    
  </div> <!-- .editor-body -->

</div> <!-- .taxon-editor -->
